/* Tablet */
@media only screen and (max-width:768px){

}

/* Mobile */
@media only screen and (max-width:480px){
  #menu{
    display: none;
  }
  .about img{
  	margin-top: 100px;
  }
  .about p{
  	font-size: 14px;
  }
    .skills img{
    width: 50px;
  }
  .portfolio .texto a{
  	margin-left:30%;
  }
}
